<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
  
    <script src="https://kit.fontawesome.com/95dd4432e2.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:ital,wght@0,300;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <title>Ingeniería en Tecnologías de la Inofrmación y Comunicaciones</title>
    <link rel="icon" href="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Flaptop-solid.svg?v=1611686868647" />
</head>

<body>

   <div class="conatiner">

       <div class=" prev">
         <div  class="reloj">
          CDMX, México a&nbsp;
          <span id="diaSemana"></span>&nbsp;
          <span id="dia"></span>&nbsp; de &nbsp; 
          <span id="mes"></span>&nbsp; del &nbsp;
          <span id="año"></span>&nbsp;&nbsp;
          <span id="hora"></span>:
          <span id="minutos"></span>:
          <span id="segundos"></span>&nbsp;
          <span id="ampm"></span>&nbsp;
         </div>
       </div>

       <!-- ENCABEZADO -->
        <header>
            <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FTECNM.png?v=1611686872542" alt="logo-tecnm" class="tecnm" />
            <h1>Ingeniería en Tecnologías de la Información y Comunicaciones</h1>
            <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FITGAM.jfif?v=1611686871807" alt="logo-itgam" class="itgam">
        </header>

        <br>

        <!-- BARRA DE NAVEGACION CON BOOTSTRAP -->

        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><i class="fab fa-elementor">&nbsp;&nbsp;</i>MENU</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="#">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="objetivo.html">OBJETIVO</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link "   href="Perfil.html">PERFIL DE INGRESO</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="PlanE.html">PLAN DE ESTUDIOS</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                      <a href="reticula.html" class="nav-link">RETICULA</a> <!--KARLA-->
                  </li>
                  <li class="nav-item">
                    <a href="profesores.html" class="nav-link">PROFESORES</a> <!--KARLA-->
                </li>
                <li class="nav-item">
                    <a href="politicas.html" class="nav-link">POLITICAS DE SEGURIDAD</a> <!--KARLA-->
                </li>
                </ul>
              </div>
            </div>
          </nav>
   </div>

<br>

<main class="container-fluid">

<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fimg2.png?v=1611686887978" class="d-block w-100" alt="..." style="height: 500px;">
          <div class="carousel-caption  " style="background:black;opacity: 0.7;">
            <h5>ITGAM</h5>
            <p>El Instituto Tecnológico de Gustavo A. Madero es uno de los 254 institutos y centros ubicados en todo el país, que tiene presencia en más de 600 localidades, en los 32 estados de todo el país.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fimg3.jpg?v=1611686874606" class="d-block w-100 " alt="..." style="height: 500px;">
          <div class="carousel-caption" style="background:black;opacity: 0.7;">
            <h5>PROYECTOS</h5>
            <p>Se generan proyectos con impactos en las diversas ramas económicas del país, participando en diversos eventos como: ENEIT, TECMA, congresos convocados por distintas entidades educativas, etntre otros.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fimg4.jpg?v=1611686880183" class="d-block w-100" alt="..." style="height: 500px;">
          <div class="carousel-caption" style="background:black;opacity: 0.7;">
            <h5>METAS</h5>
            <p>Administrar proyectos que involucren Tecnologías de la Información y Comunicaciones para el logro de los objetivos organizacionales conforme a requerimientos establecidos.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev izq" href="#carouselExampleIndicators" role="button" data-bs-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
<br>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

    <!-- DEscirpción de la carrera -->
    <div class="card text-center">
      <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="tabs">
              <li class="nav-item">
                  <a class="active nav-link active" href="#perfil" data-toggle="tab">Perfil</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#mision" data-toggle="tab">Mision</a>
              </li>
          </ul>
      </div>
      <div class="card-body">
          <div class="tab-content">
              <div class="tab-pane active" id="perfil">

                <div class="card ">
                  <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fimg5.png?v=1611686876571" class="card-img-top" alt="...">
                  <div class="card-body">
                    <p class="card-text">La carrera en Ingenierías en Tecnologías de la Información y Comunicaciones es una de las 5 carreras que ofrece el <span style="color:darkblue"><b>Instituto Tecnológico de Gustavoa A. Madero</b></span> ,
                       la cual cuenta con una matrícula de 2500 estudiantes; a los largo de esta carrera los alumnos desarrollarán sus habilidades en las diversas ramas de la informática como 
                      <b>redes computacionales, gestión y diseño de bases de datos, diseño de aplicaciones Web</b>, por mencionar algunas.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="mision">
                <div class="card">
                  <!-- style="width: 265px;height: 92px; -->
                  <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fimg6.png?v=1611686875110" class="card-img-top" alt="..."  style="height: 250px;">
                  <div class="card-body">
                    <p class="card-text">
                      Que el alumno pueda desarrollar Tecnologías de la Información y Comunicación (TIC´S) con distintas arquitecturas de hardware y software para su aplicación a la solución de las necesidades técnicas actuales.
                      y también poder administrar proyectos que mediante la aplicación de las TIC´S garanticen la <b>integridad, disponibilidad y confidencialidad</b>  de la información.

                    </p>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>

<br>
  </div>
  </div>


<br>
<!-- CONFERENCIAS Y CURSOS -->
<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <h4 style="color:#004882;font-family: 'Cairo',sans-serif;"><b>CONFERENCIAS Y CURSOS</b></h4>
      <hr>
      <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" style="background-color: #0a66b1;"></li>
          <li data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" style="background-color: #0a66b1;"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="card ">
              <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fconf1.jpg?v=1611686869154" class="card-img-top img-fluid card-img " alt="..."   >
              <div class="card-body">
                <p class="card-text">
                 <em>Participa este Miércoles 02 de diciembre 2020 a partir de las 8:45 am CdMX.</em>   
               </p>
               <div class="container-fluid">
                <div class="row">
                 <div class="d-grid gap-2 col-8 mx-auto">
                   <button class="btn boton" type="button" aria-pressed="true">Ir a Convocatoria</button>
                 </div>
                </div>
              </div>
              <br>
              </div>
            </div>
            
          </div>
          <div class="carousel-item">

            <div class="card">
              <!-- style="width: 265px;height: 92px; -->
              <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fconf2.jpeg?v=1611686869359" class="card-img-top img-fluid card-img" alt="...">
              <div class="card-body">
                <p class="card-text">
                  <em>Los cursos se encuentran disponibles las 24 horas, sin costo y accesible para la mayoría de los dispositivos con conexión a Internet.</em>  
                </p>
                <div class="container-fluid">
                  <div class="row">
                   <div class="d-grid gap-2 col-8 mx-auto">
                     <button class="btn boton" type="button" aria-pressed="true">Ir a Convocatoria</button>
                   </div>
                  </div>
                </div>
                <br>
              </div>
            </div>

          </div>
        </div>
        <a class="carousel-control-prev izq" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev"  >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Regresar</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </a>
      </div>

    </div>
  </div>
</div>

<br>

<!-- COMUNICADOS -->
<div class="container-fluid ">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <h4 style="color:#004882;font-family: 'Cairo',sans-serif;"><b>COMUNICADOS</b></h4>
      <hr>
      <div id="carouselExampleIndicators3" class="carousel slide" data-bs-ride="carousel">
     
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" style="background-color: #0a66b1;"></li>
          <li data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" style="background-color: #0a66b1;"></li>
          <li data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" style="background-color: #0a66b1;"></li>
          <li data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="3" style="background-color: #0a66b1;"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="card ">
              <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fev1.jpeg?v=1611686870143" class="card-img-top img-fluid card-img " alt="..."   >
              <div class="card-body">
                <p class="card-text">
                  
               </p>
  
              </div>
            </div>
            
          </div>

          <div class="carousel-item">

            <div class="card">
              <!-- style="width: 265px;height: 92px; -->
              <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fev2.jpeg?v=1611686870439" class="card-img-top img-fluid card-img" alt="...">
              <div class="card-body">
      
                <div class="container-fluid">
                  <div class="row">
                   <div class="d-grid gap-2 col-8 mx-auto">
                     <button class="btn boton" type="button" aria-pressed="true">Ir a Convocatoria</button>
                   </div>
                  </div>
                </div>
                <br>
              </div>
            </div>

          </div>



          <div class="carousel-item">

            <div class="card">
              <!-- style="width: 265px;height: 92px; -->
              <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fev3.jpeg?v=1611686870611" class="card-img-top img-fluid card-img" alt="...">
              <div class="card-body">
             
                <div class="container-fluid">
                  <div class="row">
                   <div class="d-grid gap-2 col-8 mx-auto">
                     <button class="btn boton" type="button" aria-pressed="true">Ir a Convocatoria</button>
                   </div>
                  </div>
                </div>
                <br>
              </div>
            </div>

          </div>



          <div class="carousel-item">

            <div class="card">
              <!-- style="width: 265px;height: 92px; -->
              <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fev4.jpeg?v=1611686870873" class="card-img-top img-fluid card-img" alt="...">
              <div class="card-body">
               
                <div class="container-fluid">
                  <div class="row">
                   <div class="d-grid gap-2 col-8 mx-auto">
                     <button class="btn boton" type="button" aria-pressed="true">Ir a Convocatoria</button>
                   </div>
                  </div>
                </div>
                <br>
              </div>
            </div>

          </div>

        </div>
        <a class="carousel-control-prev izq" href="#carouselExampleIndicators3" role="button" data-bs-slide="prev" >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Regresar</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </a>
      </div>

    </div>
  </div>
</div>




<br>




<div class="container-fluid">
  <div class="row">
    <h4>SITIOS DE INTERÉS</h4>
    <div class="col-12">
      
      <div class="card-group">
       <div class="container-fluid">
         <div class="row">

          <div class="card border-primary col-3  mb-4" style="max-width: 15rem;">
            <div class="card-img-top">
              <a href="https://www.conacyt.gob.mx" style="margin:0px"><img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FCONACYT.png?v=1611686868853"  alt="Consejo Nacional de Ciencia y Tecnología" class="img-fluid  "></a>
            </div>
          </div>
          
          <div class="card border-primary mb-4 col-3" style="max-width: 18rem;">
            <div class="card-img-top">
              <a href="https://www.conricyt.mx" style="margin:0px"><img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FCONRICYT.png?v=1611686869623"  alt="Consorcio Nacional de Recursos de Información Científica y Tecnológica" class="img-fluid  " ></a>
            </div>
          </div>
          
          <div class="card border-primary mb-4 col-3" style="max-width: 18rem;">
            <div class="card-img-top">
              <a href="https://home.inai.org.mx" style="margin:0px"><img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FINAI.png?v=1611686871624"  alt="Instituto Nacional de Transparencia" class="img-fluid  "></a>
            </div>
          </div>
  
          <div class="card border-primary mb-4 col-3" style="max-width: 18rem;">
            <div class=" card-img-top">
              <a href="https://consultapublicamx.inai.org.mx/vut-web/faces/view/consultaPublica.xhtml#inicio" style="margin:0px"><img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FOT.png?v=1611686873570"  alt="Obligaciones Institucionales de Transparencia" class="img-fluid " style="margin-top: 8px;"></a>
            </div>
          </div>

         </div>
       </div>
      </div>
    
    </div>
  </div>
</div>
  



</main>  
<br>

<footer>
<div class="container-fluid contenedor-footer">
  <div class="row">
    <div class="direccion col-lg-6 col-md-6 col-sm-5 col-xs-5">
      <h5>Dirección</h5>
      <p>Calle 608 No. 300 y Av. 412, Col. San Juan de Aragón, Alcaldía. Gustavo A. Madero, C.P. 07470, México, CDMX</p>
    </div>
    
    <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7"> 
      <h5>Contacto</h5>
      <p>Teléfonos(55) 2651-7864 y (55) 2651-6275</p>
      <br>
     <div> 
        <h5>Síguenos</h5>
        <a class="fab fa-facebook fa-2x iconos" style="margin-left:20px;" href="https://www.facebook.com/Tecnológico-Nacional-de-México-ITGAM-395164931210565/"></a>
        <a class="fab fa-twitter fa-2x iconos" style="margin-left:20px;" href="https://twitter.com/itgammx?lang=es"></a>
        <a class="fab fa-youtube fa-2x iconos" style="margin-left:20px;" href="https://www.youtube.com/channel/UCP-x2mLKQcjP10OSHGDbvZQ?view_as=subscriber"></a>
        </div>
    </div>
 </div>
 <hr>
 <div class="row">  
  <p>Copyright © Equipo 5 - Diseño de Aplicaciones Web</p>
</div>
  
</div>

</footer>

</body>
    <!-- JavaScript Bundle with Popper -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="bundle.js"></script>

</html>