<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/95dd4432e2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:ital,wght@0,300;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <title>Ingeniería en Tecnologías de la Inofrmación y Comunicaciones</title>
    <link rel="icon" href="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Flaptop-solid.svg?v=1611686868647">
</head>

<body>

   <div class="conatiner">

       <div class=" prev">
         <div  class="reloj">
          CDMX, México a&nbsp;
          <span id="diaSemana"></span>&nbsp;
          <span id="dia"></span>&nbsp; de &nbsp; 
          <span id="mes"></span>&nbsp; del &nbsp;
          <span id="año"></span>&nbsp;&nbsp;
          <span id="hora"></span>:
          <span id="minutos"></span>:
          <span id="segundos"></span>&nbsp;
          <span id="ampm"></span>&nbsp;
         </div>
       </div>

       <!-- ENCABEZADO -->
        <header>
            <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FTECNM.png?v=1611686872542" alt="logo-tecnm" class="tecnm">
            <h1>Ingeniería en Tecnologías de la Información y Comunicaciones</h1>
            <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FITGAM.jfif?v=1611686871807" alt="logo-itgam" class="itgam">
        </header>

        <br>

        <!-- BARRA DE NAVEGACION CON BOOTSTRAP -->

        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><i class="fab fa-elementor">&nbsp;&nbsp;</i>MENU</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link "  href="index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="objetivo.html">OBJETIVO</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Perfil.html">PERFIL DE INGRESO</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="PlanE.html">PLAN DE ESTUDIOS</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                      <a href="reticula.html" class="nav-link">RETICULA</a> <!--KARLA-->
                  </li>
                  <li class="nav-item">
                    <a href="profesores.html" class="nav-link">PROFESORES</a> <!--KARLA-->
                </li>
                <li class="nav-item">
                    <a href="politicas.html" class="nav-link">POLITICAS DE SEGURIDAD</a> <!--KARLA-->
                </li>
                </ul>
              </div>
            </div>
          </nav>
   </div>

<br>


<main class="container-fluid">
    
<!--- Aqui va el objetivo General con una imagen--->
<div class="row">
  <div class="col-12">

    <div class="card mb-3" style="border: none;">
      <div class="row g-0">
        <div class="col-lg-3 col-md-2 col-sm-4 ">
          <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fobj.png?v=1611686868647" alt="..." class="img-obj ">
        </div>
        <div class="col-lg-9 col-md-10 col-sm-8 ">
          <div class="card-header card-cabecera"><strong>Objetivo General</strong></div>
          <div class="card-body">
            <p class="Ogeneral">Formar profesionistas capaces de desarrollar, integrar y administrar tecnologías de la información y  comunicaciones que contribuyan a la productividad y al logro de  los objetivos estratégicos de las  organizaciones en un entorno globalizado; caracterizándose por ser líderes, críticos, competentes, éticos  y con visión emprendedora, comprometidos con el desarrollo sustentable</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 
<div class="row">
  <div class="col-12">

    <div class="card mb-3" style="border: none;">
      <div class="row g-0">

        <div class="col-lg-10 col-md-10 col-sm-8 ">
          <div class="card-header card-cabecera"><strong>Objetivos Educacionales</strong></div>
          <div class="card-body">
            <ul class="especific">
              <li>
                  Desarrollar Tecnologías de la Información y Comunicación (TIC´S) con distintas arquitecturas de hardware y software para su aplicación a la solución de las necesidades técnicas actuales.
              </li>
              <br>
              <li>
                  Implementar las TIC´S a la solución de problemas que respondan a las necesidades del entorno.
              </li>
              <br>
              <li>
                  Administrar proyectos que mediante la aplicación de las TIC´S garanticen la integridad, disponibilidad y confidencialidad de la información.
              </li>
          </ul>
          </div>
          
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 ">
          <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fsombrero.jpg?v=1611686872041" alt="..." class="img-obj img-fluid sombrero ">
        </div>

      </div>
    </div>


  </div>
</div>    

<div class="row">
  <div class="col-12">

    <div class="card mb-3" style="border: none;">
      <div class="row g-0">
        <div class="col-lg-3 col-md-3 col-sm-4 ">
          <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Fmundotec.png?v=1611686874663" alt="..." class="img-obj img-fluid mundo">
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 ">
          <div class="card-header card-cabecera"><strong>Campo Ocupacional</strong></div>
          <div class="card-body">
            <p class="COcupacional">Los ingenieros en tecnologías de la información y comunicaciones son solucionadores de problemas, organizadores, comunicadores, diseñadores y calculadores en las empresas, trabajan en casi cualquier tipo de organización, pequeñas, medianas y grandes, 
              ya que todas hacen uso de los sistemas de información para automatizar
              procesos, son capaces de definir un problema en términos de tiempo, costos y proveer una simple solución.</p>
          </div>

        </div>
        
        
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-12">

    <div class="card mb-3" style="border: none;">
      <div class="row g-0">

        <div class="col-12 ">
          <div class="card-header card-cabecera"><strong>Perfil de egreso</strong></div>
          <div class="card-body">
            <ul class="AEgreso">
              <li>Diseña, implementa y administra redes de cómputo y comunicaciones para satisfacer las necesidades de información de las organizaciones, con base en modelos y estándares internacionales.</li>
              <li>Administra proyectos que involucren Tecnologías de la Información y Comunicaciones para el logro de los objetivos organizacionales conforme a requerimientos establecidos.</li>
              <li>Desarrolla e implementa sistemas de información para la gestión de procesos y apoyo en la toma de decisiones, utilizando metodologías basadas en estándares internacionales</li>
              <li>Diseña, desarrolla y gestiona sistemas de bases de datos para garantizar la integridad, disponibilidad y confidencialidad de la información dispositivos.</li>
              <li>Desempeña funciones de consultoría y auditoría para validar procesos y garantizar la calidad en el uso de las Tecnologías de la Información y Comunicaciones.</li>
              <li>Crea empresas en el ámbito de las Tecnologías de la Información y Comunicaciones para contribuir al desarrollo del entorno.</li>
              <li>Integra las diferentes arquitecturas de hardware y administra plataformas de software para incrementar la productividad en las organizaciones.</li>
              <li>Implementa sistemas de seguridad acorde a políticas internas de las organizaciones basados en estándares establecidos, con la finalidad de garantizar la integridad y consistencia de la información.</li>
              <li>Aplica los aspectos de legislación informática para regular el uso y explotación de las Tecnologías de la Información y Comunicaciones.</li>
              <li>Diseña e implementa dispositivos con software embebido para aplicaciones de propósito específico.</li>
           </ul>  

          </div>
          
        </div>
      

      </div>
    </div>
    
  </div>
</div>

</main>  

<br>

<footer>
<div class="container-fluid contenedor-footer">
  <div class="row">
    <div class="direccion col-lg-6 col-md-6 col-sm-5 col-xs-5">
      <h5>Dirección</h5>
      <p>Calle 608 No. 300 y Av. 412, Col. San Juan de Aragón, Alcaldía. Gustavo A. Madero, C.P. 07470, México, CDMX</p>
    </div>
    
    <div class=" col-lg-6 col-md-6 col-sm-7 col-xs-7"> 
      <h5>Contacto</h5>
      <p>Teléfonos(55) 2651-7864 y (55) 2651-6275</p>
      <br>
    <div> 
        <h5>Síguenos</h5>
        <a class="fab fa-facebook fa-2x iconos" style="margin-left:20px;" href="https://www.facebook.com/Tecnológico-Nacional-de-México-ITGAM-395164931210565/"></a>
        <a class="fab fa-twitter fa-2x iconos" style="margin-left:20px;" href="https://twitter.com/itgammx?lang=es"></a>
        <a class="fab fa-youtube fa-2x iconos" style="margin-left:20px;" href="https://www.youtube.com/channel/UCP-x2mLKQcjP10OSHGDbvZQ?view_as=subscriber"></a>
        </div>
    </div>
 </div>
 <hr>
 <div class="row">  
  <p>Copyright © Equipo 5 - Diseño de Aplicaciones Web</p>
</div>
  
</div>

</footer>

</body>
    <!-- JavaScript Bundle with Popper -->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="bundle.js"></script>

</html>