<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://kit.fontawesome.com/95dd4432e2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&family=Roboto:ital,wght@0,300;0,700;0,900;1,700&display=swap" rel="stylesheet">
    <title>Ingeniería en Tecnologías de la Inofrmación y Comunicaciones</title>
    <link rel="icon" href="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2Flaptop-solid.svg?v=1611686868647">
</head>

<body>

   <div class="conatiner">

       <div class=" prev">
         <div  class="reloj">
          CDMX, México a&nbsp;
          <span id="diaSemana"></span>&nbsp;
          <span id="dia"></span>&nbsp; de &nbsp; 
          <span id="mes"></span>&nbsp; del &nbsp;
          <span id="año"></span>&nbsp;&nbsp;
          <span id="hora"></span>:
          <span id="minutos"></span>:
          <span id="segundos"></span>&nbsp;
          <span id="ampm"></span>&nbsp;
         </div>
       </div>

       <!-- ENCABEZADO -->
        <header>
            <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FTECNM.png?v=1611686872542" alt="logo-tecnm" class="tecnm">
            <h1>Ingeniería en Tecnologías de la Información y Comunicaciones</h1>
            <img src="https://cdn.glitch.com/aa60294d-84da-4d97-806f-a85db793ba01%2FITGAM.jfif?v=1611686871807" alt="logo-itgam" class="itgam">
        </header>

        <br>

        <!-- BARRA DE NAVEGACION CON BOOTSTRAP -->

        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><i class="fab fa-elementor">&nbsp;&nbsp;</i>MENU</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link "  href="index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="objetivo.html">OBJETIVO</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="Perfil.html">PERFIL DE EGRESO</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="PlanE.html">PLAN DE ESTUDIOS</a> <!--EDWIN-->
                  </li>
                  <li class="nav-item">
                      <a href="reticula.html" class="nav-link">RETICULA</a> <!--KARLA-->
                  </li>
                  <li class="nav-item">
                    <a href="profesores.html" class="nav-link">PROFESORES</a> <!--KARLA-->
                </li>
                <li class="nav-item">
                    <a href="#" aria-current="page" class="nav-link active">POLITICAS DE SEGURIDAD</a> <!--KARLA-->
                </li>
                </ul>
              </div>
            </div>
          </nav>
   </div>

<br>

<main class="container">

<div class="row">


<div class="col-12">
    <div class="card  text-center">
        <div class="card-header">
          <h5 style="color:#004882;font-family: 'Cairo',sans-serif;"><b>POLITICAS DE SEGURIDAD</b></h5>
          <hr>
            <ul class="nav nav-tabs card-header-tabs" id="tabs">
                <li class="nav-item">
                    <a class="active nav-link active" href="#conf1" data-toggle="tab">EVALUACIÓN DE RIESGOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#conf2" data-toggle="tab">PÓLIZAS DE SEGURO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#conf3" data-toggle="tab">DERECHOS DE PRIVACIDAD</a>
                </li>
            </ul>
        </div>

        <!--EVALUACIÓN DE RIESGOS-->
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="conf1">
                  <div class="card ">
                    <div class="card-body">
                    <p class="card-text" >
                       <h3>Evaluación de riesgos</h3>  
                       <h5>Criterios de actuación</h5>
                       <p>
                        La evaluación de riesgos es una tarea que debe ser llevada a cabo por personas que tengan la formación legalmente requerida y que sean trabajador designado por la Dirección de la empresa o formen parte del Servicio de prevención propio o ajeno. Tal actividad debiera realizarse con la participación del personal expuesto a los riesgos con la finalidad de recoger su opinión y poder contrastar con lo observado.
                       </p>
                       <br>
                       <h5>Preparación</h5>
                       <p>
                        Quién va a realizar la evaluación, el servicio de prevención si existe, los trabajadores designados, etc. y proporcionarle la formación, la información y los medios para llevarla a cabo de manera eficaz. Qué mecanismos de control va a aplicar para comprobar que la evaluación realizada es operativa y eficaz.
                       </p>
                       <br>
                       <h5>Ejecución</h5>
                        <li>Las instalaciones, las máquinas, los equipos, las herramientas y los productos empleados.</li> 
                        <li>El entorno del lugar de trabajo.</li>
                        <li>Formación del personal y las pautas de comportamiento a la hora de realizar las tareas.</li> 
                        <li>Adecuación de las medidas preventivas y de los controles existentes.</li> 
                        <br>
                        <h5>Registro documental</h5>
                       <p>
                        En la última fase ya se habrá concluido la actividad en el lugar de trabajo, teniendo que registrar documentalmente todo lo observado en los diferentes puestos y tareas analizadas para facilitar el seguimiento por quien corresponda.
                       </p>
                       <p>
                        En aquellos puestos en los que deban adoptarse medidas preventivas o de control, éstas deberán quedar debidamente registradas especificando de qué puesto de trabajo o tarea se trata, qué riesgos existen, a qué trabajadores afecta, cuáles han sido los resultados de la evaluación y cuáles son las medidas preventivas que deben adoptarse con indicación de plazos y responsables. Deberá comprobarse que dichas medidas se llevan a cabo en los plazos establecidos y que resultan eficaces.
                        </p>
                     </p>
                     
                    </div>
                  </div>
                </div>

                <!--PÓLIZAS DE SEGURO-->
                <div class="tab-pane" id="conf2">
                  <div class="card">
                    <!-- style="width: 265px;height: 92px; -->
                    <div class="card-body">
                      <p class="card-text">
                        <h3>Pólizas de seguro</h3> 
                        <li>Cuarto de telecomunicaciones.</li>
                        <li>No situar equipos en sitios altos para evitar caídas.</li>
                        <li>No colocar elementos móviles sobre los equipos para evitar que caigan sobre ellos.</li>
                        <li>Separar los equipos de las ventanas para evitar que caigan por ellas o qué objetos lanzados desde el exterior los dañen.</li>
                        <li>Utilizar fijaciones para elementos críticos.</li>
                        <li>Colocar los equipos sobre plataformas de goma para que esta absorba las vibraciones.</li> 
                        <br>
                        <p>Otro desastre natural importante son las tormentas con aparato eléctrico, especialmente frecuentes en verano, que generan subidas súbitas de tensión muy superiores a las que pueda generar un problema en la red eléctrica. A parte de la protección mediante el uso de pararrayos, la única solución a este tipo de problemas es desconectar los equipos antes de una tormenta (qué por fortuna suelen ser fácilmente predecibles).</p>
                        <br>
                        <p>En entornos normales es recomendable que haya un cierto grado de humedad, ya que en si el ambiente es extremadamente seco hay mucha electricidad estática. No obstante, tampoco interesa tener un nivel de humedad demasiado elevado, ya que puede producirse condensación en los circuitos integrados que den origen a un cortocircuito. En general no es necesario emplear ningún tipo de aparato para controlar la humedad, pero no está de más disponer de alarmas que nos avisen cuando haya niveles anómalos.</p>
                        <br>
                        <p>Otro tema distinto son las inundaciones, ya que casi cualquier medio (máquinas, cintas, routers ...) que entre en contacto con el agua queda automáticamente inutilizado, bien por el propio líquido o bien por los cortocircuitos que genera en los sistemas electrónicos. Contra ellas podemos instalar sistemas de detección que apaguen los sistemas si se detecta agua y corten la corriente en cuanto estén apagados. Hay que indicar que los equipos deben estar por encima del sistema de detección de agua, sino cuando se intente parar ya estará mojado.</p>
                        <br>
                        <p>Por último, mencionaremos el fuego y los humos, que en general provendrán del incendio de equipos por sobrecarga eléctrica. Contra ellos emplearemos sistemas de extinción, que, aunque pueden dañar los equipos que apaguemos, nos evitarán males mayores. Además del fuego, también el humo es perjudicial para los equipos (incluso el del tabaco), al ser un abrasivo que ataca a todos los componentes, por lo que es recomendable mantenerlo lo más alejado posible de los equipos.</p>
                        <br>
                        <h6>Póliza de seguro en daños materiales:</h6>
                        <li>Incendio, impacto de rayo, explosión, implosión. </li>
                        <li>Humo, hollín, gases o polvos corrosivos.</li>
                        <li>Inundación, humedad, siempre  y  cuando   no  provengan    de    condiciones    atmosféricas    normales     ni     del ambiente en que se encuentren los bienes asegurados.</li>
                        <li>Cortocircuito, azogamiento, arco voltaico, perturbaciones por campos magnéticos, aislamiento insuficiente, sobretensiones causadas por rayos, tostación de aislamientos.</li>
                        <li>Errores de construcción, fallas de montaje, defectos de materiales. </li>
                        <li>Errores de manejo descuido, impericia, así como daños malintencionados y dolo de terceros. </li>
                        <li>Robo con violencia. </li>
                        <li>Granizo, helada, tempestad. </li>
                        <li>Hundimiento del terreno, deslizamiento de tierra, caída de  rocas, aludes. </li>
                    </p>
                        
                    </div>
                  </div>
                </div>


                <!--DERECHOS DE PRIVACIDAD-->
                <div class="tab-pane" id="conf3">
                  <div class="card">
                    <!-- style="width: 265px;height: 92px; -->
                    <div class="card-body">
                      <p class="card-text">
                        <h3>Protección de datos</h3> 
                        <p>La protección de datos estará avalada por La Ley Federal de Protección de Datos Personales en Posesión de Particulares (LFPDPPP), esto es para que la empresa no haga mal usos de los datos que son proporcionados por usuario y así mismo que no los datos no se salgan de la norma de las políticas de uso de privacidad de la empresa.</p>
                        <br>
                        <h3>Derechos de autor</h3>
                        <p>Derechos de autor México, señala en el artículo 27.2 que “Toda persona tiene derecho a la protección de los intereses morales y materiales que le correspondan por razón de las producciones científicas, literarias o artísticas de las que sea autora.” De manera que se reconoce el derecho de autor a favor del creador en su dualidad de contenido: derechos morales y derechos patrimoniales; asimismo se refiere a los derechos de acceso a la educación, cultura, información y libertad de expresión por lo tanto comparten naturaleza.</p>
                        <br>
                        <h3>Base de datos</h3>
                        <p>La LOPD (Ley Orgánica de Protección de Datos) establece las obligaciones que los responsables de los ficheros o tratamientos, tanto de organismos públicos como privados, han de cumplir para garantizar el derecho a la protección de los datos de carácter personal para su explotación comercial, siendo un requisito fundamental para abordar un proyecto de marketing de bases de datos. </p>
                        <br>
                        <li>Calidad de los datos, entendida desde dos perspectivas: que la información solicitada a los titulares de los datos no se exceda de los fines para los que es recabada; y la obligación del responsable del fichero a mantener las listas actualizadas para que reflejen la situación actual del titular de los datos. </li>
                        <li>Consentimiento previo al tratamiento de los datos. Salvo para los especialmente protegidos por la ley, puede ser tácito, siempre y cuando se cumpla con los requisitos establecidos de procedimiento, información de derechos, fines, responsables y plazos, entre otros. Se refleja también que, para aquellas fuentes accesibles al público, el titular de los datos tiene derecho a oponerse a este tratamiento, para lo cual, puesto que por defecto sus datos se consideran públicos y su tratamiento permitido, deberá dirigirse al responsable del fichero.</li>
                        <li>Salvaguarda de los derechos del titular de los datos: acceso, rectificación, cancelación y oposición. En las reclamaciones en materia de protección de datos, es el responsable del tratamiento (empresa) quien debe constatar su inocencia mediante la aportación de pruebas, y no el denunciante (titular de los datos) quien debe demostrar la culpabilidad del responsable.</li>
                        
                    </p>
                        
                    </div>
                  </div>
                </div>
               
            </div>
        </div>
      </div>
    
</div>





</div>

  
</main>  
<br>

<footer>
  <div class="container contenedor-footer">
    <div class="row">
      <div class="direccion col-lg-6 col-md-6 col-sm-5 col-xs-5">
        <h5>Dirección</h5>
        <p>Calle 608 No. 300 y Av. 412, Col. San Juan de Aragón, Alcaldía. Gustavo A. Madero, C.P. 07470, México, CDMX</p>
      </div>
      
      <div class="col-lg-6 col-md-6 col-sm-7 col-xs-7"> 
        <h5>Contacto</h5>
        <p>Teléfonos(55) 2651-7864 y (55) 2651-6275</p>
        <br>
        <div> 
        <h5>Síguenos</h5>
        <a class="fab fa-facebook fa-2x iconos" style="margin-left:20px;" href="https://www.facebook.com/Tecnológico-Nacional-de-México-ITGAM-395164931210565/"></a>
        <a class="fab fa-twitter fa-2x iconos" style="margin-left:20px;" href="https://twitter.com/itgammx?lang=es"></a>
        <a class="fab fa-youtube fa-2x iconos" style="margin-left:20px;" href="https://www.youtube.com/channel/UCP-x2mLKQcjP10OSHGDbvZQ?view_as=subscriber"></a>
        </div>
      </div>
   </div>
   <hr>
   <div class="row">  
    <p>Copyright © Equipo 5 - Diseño de Aplicaciones Web</p>
  </div>
    
  </div>
  
  </footer>
  
</body>
    <!-- JavaScript Bundle with Popper -->
 
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="bundle.js"></script>

</html>